@import "tailwindcss";
@font-face {
  font-family: paperlogy5;
  font-style: normal;
  font-weight: 500;
  src: url("@/assets/fonts/Paperlogy-5Medium.ttf") format("truetype");
}

body {
  font-family: "paperlogy5", sans-serif;
}
