@import "tailwindcss";
@font-face {
  font-family: paperlogy5;
  font-style: normal;
  font-weight: 500;
  src: url("@/assets/fonts/Paperlogy-5Medium.ttf") format("truetype");
}

body {
  font-family: "paperlogy5", sans-serif;
}

/* 스크롤 숨기기 */
.scroll-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
